*{
    margin: 500;
    padding: 0;
}
body{
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  max-width: 50%;
  
}

.card{
    height: 50px;
    width: 50vw;
    width: 200px;
    box-shadow: 1px 3px 10px rgb(42, 40, 40);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
a{
  text-decoration: none;
  color: black;
  font-size: larger;
  font-style: oblique;
}
.card-odd {
  background-color: rgb(91, 148, 148);
  align-self: flex-end;
}
.card-even {
  background-color: rgb(226, 201, 201);
  align-self: flex-start;
}
