*{
    margin: 0;
    padding: 0;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  
}

.card{
    height: 50px;
    width: 50vw;
    box-shadow: 1px 3px 10px black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
a{
  text-decoration: none;
  color: black;
  font-size: larger;
  font-style: oblique;
}
.card-odd {
  background-color: rgb(34, 36, 36);
  align-self: flex-end;
}
.card-even {
  background-color: rgb(23, 23, 23);
  align-self: flex-start;
}
