*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 100px;
    margin-top: 100px;
    gap: 40px;

}
.tooltip{
    position: relative;
    cursor: pointer;
    
}
.tooltip-text{
    position: absolute;
    background-color: #000;
    color: white;
    white-space: nowrap;
    padding: 10px;
    border-radius: 10px;
    visibility: hidden;

}
.tooltip-text::before{
   content: "";
   position: absolute;
}

.tooltip-text-top {
    bottom: 150%; 
    left: 50%;
    transform: translateX(-50%); 
}

.tooltip-text-top::before {
    top: 100%; 
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid transparent;
    border-top-color: #000; 
}

.tooltip:hover .tooltip-text-top {
    visibility: visible;
    opacity: 1;
}


.tooltip-text-left {
    top: 50%;
    right: 120%;
    transform: translateY(-50%);
    margin-right:10px ;
}

.tooltip-text-left::before {
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    border: 10px solid transparent;
    border-left-color: #000; 
}

.tooltip:hover .tooltip-text-left {
    visibility: visible;
    opacity: 1;
}

.tooltip-text-right {
    top: 50%;
    left: 120%;
    transform: translateY(-50%);
    margin-left: 10px;
}

.tooltip-text-right::before {
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    border: 10px solid transparent;
    border-right-color: #000; 
}

.tooltip:hover .tooltip-text-right {
    visibility: visible;
    opacity: 1;
}

.tooltip-text-bottom {
    top: 150%;
    left: 50%;
    transform: translateX(-50%);
}
.tooltip-text-bottom::before {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid transparent;
    border-bottom-color: #000; 
}

.tooltip:hover .tooltip-text-bottom {
    visibility: visible;
    opacity: 1;
}




